<tr>
  <td><%= user.username %></td>
  <td><%= user.email %></td>
  <td><%= user.isAdmin %></td>
  <td>
    <div class="flex-container">
      <div class="flex-item">
        <button title="Edit user" type="submit" class="btn btn-warning">
          <i class="fa-regular fa-pen-to-square"></i>
        </button>
      </div>
      <div class="flex-item">
        <form action="/user/delete/<%= user.username %>" method="post">
          <button title="Delete user" type="submit" class="btn btn-danger">
            <i class="far fa-trash-alt"></i>
          </button>
        </form>
      </div>
      <div class="flex-item">
        <button
          title="Make schedule"
          type="button"
          class="btn btn-success"
          data-bs-toggle="modal"
          data-bs-target="#editScheduleModal"
          onclick="setNewShiftModalValues('<%= user.username %>');"
        >
          <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </td>
</tr>
